/* Mobile button là 42px */
@media (max-width: 740px){
    
       
        .s-full-width,
        .s-col-full {
             width: 100%;
        
        }

        .s-mt-8 {
            margin-top: 8px !important ;
        }

        #nav > li{
            display: block;  
        
        }
        #header .search_btn {
            display: none;
        }
        #nav {
             display: block; 
        } 

        #header{
            overflow: hidden;
        }
        #nav .subnav {
            position: initial;
            background-color: #333;
        }

        #nav .subnav a{
           color: #fff;
           padding: 5px 41px;
        }
        #nav li a{
            
            padding: 1px 24px;
         }
    
        #header .mobile-menu-btn {
             display: block;
        }

        #nav li:first-child {
            display: inline-block;
        }

        
        .contact-form {
            margin-top: 16px;
        }
     
      
}

/* Mobile button là 48px */
 @media (max-width: 1023px)  {
    .btn {
        padding: 15px 16px;
    }
    .contact-form .form-control {
        padding: 15px;
    }
    #footer .social-list a {
        padding: 15px;
    }
}
    